@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Medula+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    z-index: 1;
    pointer-events: none;
    background-color: #fe0000;
    /* background-color: #233D7A; */
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
    pointer-events: auto;
}

header ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: #F7FBFD;
    border-radius: 50px;
    font-weight: bold;
    transition: all 0.3s ease;
    font-family: "Poppins", serif;
  font-weight: 500;

}

header ul li a:hover {
    background-color: #233D7A;
    color: #F7FBFD;
}
